body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white; /* Fondo blanco */
  color: black; /* Texto negro */
}

form {
  margin: 20px; 
  padding: 20px 20px 20px 20px;
  background-color: #f4f4f4; 
  border-radius: 10px; 
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

form button {
  width: 100%;
  padding: 10px;
  background-color: rgb(
    0,
    140,
    255
  ); 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}
