/* Establecer el fondo de toda la pantalla en blanco */
body {
  background-color: white;
  color: black; /* Establecer el color de la fuente en negro */
  font-size: 14px;
  font-family: Arial, sans-serif;
}

/* Estilizar el formulario */
form {
  margin: 20px; /* Centrar el formulario horizontalmente */
  padding: 20px;
  background-color: #f4f4f4; /* Establecer un color de fondo gris claro */
  border-radius: 10px; /* Agregar bordes redondeados al formulario */
  text-align: center;
}

/* Estilizar los elementos dentro del formulario */
form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Agregar borde a los inputs */
  border-radius: 5px; /* Agregar bordes redondeados a los inputs */
}

form button {
  width: 100%;
  padding: 10px;
  background-color: rgb(
    0,
    140,
    255
  ); /* Cambiar el color de fondo del botón a azul */
  color: white; /* Cambiar el color del texto del botón a blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilizar el mensaje de error */
.error {
  color: red;
  margin-top: 10px;
}
